<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.2.2" targetFramework="net453" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net453" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net453" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net453" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net453" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net453" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net452" />
  <package id="Moq.Contrib" version="0.3" targetFramework="net452" />
  <package id="MvcRouteTester" version="1.2.1" targetFramework="net453" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net453" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net453" />
  <package id="Xbehave" version="1.1.0" targetFramework="net453" />
  <package id="xunit" version="1.9.2" targetFramework="net453" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net453" />
</packages>